@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: "winky sans",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
body{
    background: rgb(141, 145, 138);
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
}
header{
    background: rgb(197, 197, 182);
    margin:9px 13px;
    backdrop-filter: blur(18px);
    padding: 12px;
    border-radius: 12px;
}
summary a{
    color: rgb(192, 20, 20);
    font-size: 17px;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),auto;
}
summary hr{
    margin: 2px;
    border: 1px dashed black;
}
summary a:hover{
    color: blueviolet;
    text-decoration: underline;
    transition: 1.5s;
}
summary{
    background: azure;
    width: 39vh;
    border-radius: 24px;
    padding: 12px;
    margin: 13px;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}
summary h2{
    margin: 13px;
    text-align: center;
    font-size: 34px;
}
summary a{
    margin: 14px;
}
section{
    background: rgb(228, 207, 180);
    border-radius: 32px;
    margin: 14px;
    padding: 14px;
}
section hr{
    margin: 24px;
    border: 1px solid black;
}
section .title{
    font-size: 29px;
    font-weight: 500;
   
    
}
section .title time{
    justify-content: space-between;
    letter-spacing: 10px;
    font-size: 17px;
}
section p{
    margin: 12px 1px;
    font-size: 20px;
    text-transform: capitalize;

}
footer{
    border-top: 1px solid rgb(255, 254, 254);
    border-radius: 10%;
    margin: 12px;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 12px;
    margin-bottom: 0%;
}
footer a{
    font-size: 27px;
    margin-top: 34px;
    margin: 49px;
    text-align: center;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),auto;
}

nav{
    text-align: center;
    align-items: center;
}
.fa-instagram{
    color: rgb(201, 81, 25);
}
.fa-tiktok{
    color: black;
}
.fa-snapchat{
    color: black;
}
.fa-youtube{
    color: red;
}